<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Guardar seleccion de usuario</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>	
			body{
				padding: 50px;
				background: #34495e;
			}
			a, td, th, h2, label{
				color: white;			
			}
			#wrapper {
  				display: flex;
			}
			#left {
  				flex: 0 0 65%;
			}
			#right {
  				flex: 1;
			}			
		</style>
		<div class="container my-2">
			<h2 class="mb-2">Nueva seleccion de usuario</h2>
			<div class="row">
				<div class="col-md-6">
					<form action="#" th:action="@{/user-selections/add}" th:object="${userSel}" method="post">
						<div class="container my-2" id="wraper">
							<div class="row" id="left">
								<div class="form-group col-md-6">
									<label for="triggerr" class="col-form-label">Trigger</label>
									<select	class="form-control-range" th:field="*{triggerr}">
										<option th:each="trig : ${triggers}" th:value="${trig.trigId}"
											class="form-control" th:text="${trig.trigName}" th:selected="${userSel.triggerr=trig}"></option>
									</select>
									<span th:if="${#fields.hasErrors('triggerr')}" th:errors="*{triggerr}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label for="usselTablename" class="col-form-label">Nombre de la tabla</label> 
									<input type="text" th:field="*{usselTablename}" class="form-control" id="usselTablename" placeholder="Nombre de la tabla">
									<span th:if="${#fields.hasErrors('usselTablename')}" th:errors="*{usselTablename}" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="usselValuekeycolumn" class="col-form-label">Clave de la columna</label>
								<input type="text" th:field="*{usselValuekeycolumn}" class="form-control" id="usselValuekeycolumn" placeholder="Clave de la columna">
								<span th:if="${#fields.hasErrors('usselValuekeycolumn')}" th:errors="*{usselValuekeycolumn}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="usselValueusercolumn" class="col-form-label">Valor del usuario</label>
								<input type="text" th:field="*{usselValueusercolumn}" class="form-control" id="usselValueusercolumn" placeholder="Valor del usuario">
								<span th:if="${#fields.hasErrors('usselValueusercolumn')}" th:errors="*{usselValueusercolumn}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="usselWherestatement" class="col-form-label">Condicion</label>
								<input type="text" th:field="*{usselWherestatement}" class="form-control" id="usselWherestatement" placeholder="Condicion">
								<span th:if="${#fields.hasErrors('usselWherestatement')}" th:errors="*{usselWherestatement}" class="text-danger"></span>
							</div>
							<div class="row">
								<div class="col-md-6 mt-3">
									<input type="submit" name="action" class="btn btn-primary" value="Agregar seleccion de usuario">
								</div>
								<div class="col-md-3 mt-3">
									<input type="reset" class="btn btn-secondary" value="Limpiar">
								</div>
								<div class="col-md-3 mt-3">
									<input type="submit" name="action" class="btn btn-secondary" value="Cancelar">
								</div>
							</div>
						</div>
					</form>
				</div>	
			</div>
		</div>
	</body>
</html>