<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<mea charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Sistema de registro</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>
			body{
				padding: 50px;
				background: #34495e;
			}
			a{
				color: white;			
			}
		</style>
	<div class="row">
		<div class="col-md-6">
			<h2 style="font-style: italic;">Bienvenido!</h2>
			<p><a href="/trigger-types/"><i class="fas fa-user-edit ml-2"></i> Tipo de triggers</a></p>
			<p><a href="/triggers/"><i class="fas fa-calendar ml-2"></i> Triggers</a></p>
			<p><a href="/autotransitions/"><i class="fas fa-calendar ml-2"></i> Autotransiciones</a></p>
			<p><a href="/user-selections/"><i class="fas fa-calendar ml-2"></i> Seleccion de usuarios</a></p>
			<p><a href="/logout"><i class="fas fa-calendar ml-2"></i> Cerrar sesion</a></p>
		</div>
	</div>
</body>
</html>