<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Usuarios</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>
			body{
				padding: 50px;
				background: #301b3f;
			}
			a, td, th, h2{
				color: white;			
			}
		</style>
		<div th:switch="${users}" class="container my-5">
			<div class="row">
				<div class="col-md-10">
					<h2 th:case="null">No hay Usuarios aun!</h2>
					<div th:case="*">
						<h2 class="my-5">Usuarios</h2>
						<table class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th>Nombre de usuario</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td th:unless="${user.userName == 'admin12'}" th:text="${user.userName}"></td>
									<td>
										<a th:unless="${user.userName == 'admin12'}" th:href="@{/users/blank-pwd/{id}(id=${user.userId})}" class="btn btn-primary">Poner Contraseña en Blanco</a>
									</td>
									<td>
										<a th:unless="${user.userName == 'admin12'}" th:href="@{/users/delete/{id}(id=${user.userId})}" class="btn btn-primary">Eliminar Usuario</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<p>
				<a href="/"><i class="fas fa-home ml-2"></i>Pagina principal</a>
			</p>
		</div>
	</body>
</html>