<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Vista de autotransicion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>
	<body>
		<style>	
			body{
				padding: 50px;
				background: #34495e;
			}
			a, td, th, h2, label{
				color: white;			
			}
		</style>
		<div class="container my-5">
			<h2 class="mb-5">Ver Autotransicion</h2>
			<div clas="row">
				<div class="col-md-6">
					<form action="#" th:action="@{/autotransitions/}" th:object="${aut}" method="post">
						<div class="container my-2" id="wraper">
							<div class="row" id="left">
								<div class="form-group col-md-6">
									<label for="id" class="col-form-label">ID</label> 
									<input type="text" th:field="*{autotranId}" class="form-control" id="id" placeholder="id" readonly> 
								</div> 
								<div class="form-group col-md-6">
									<label for="autotranName" class="col-form-label">Nombre de la autotransicion</label> 
									<input type="text" th:field="*{autotranName}" class="form-control" id="autotranName" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="autotranIsactive" class="col-form-label">Activo</label> 
									<input type="text" th:field="*{autotranIsactive}" class="form-control" id="autotranIsactive" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="autotranLogicaloperand" class="col-form-label">Operador Logico</label> 
									<input type="text" th:field="*{autotranLogicaloperand}" class="form-control" id="autotranLogicaloperand" readonly>
								</div>
								<!-- <div class="form-group col-md-6">
									<label for="autotranName" class="col-form-label">Institucion</label> 
									<input type="text" th:field="*{autotranName}" class="form-control" id="autotranName" readonly>
								</div>-->
								<div class="form-group col-md-6">
									<label for="eventstatus1" class="col-form-label">Estado epidemiologico</label> 
									<input type="text" th:field="*{eventstatus1.evestatName}" class="form-control" id="eventstatus1" readonly>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mt-3">
									<input type="submit" name="action" class="btn btn-primary" value="Volver">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>